.adminPanel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.cerificates_wrapper {
  display: flex;
  height: 200px;
  flex-wrap: wrap;
}

.cerificates_wrapper > div > img {
  height: 100%;
}

.cerificates_wrapper > div {
  height: 100%;
  position: relative;
}

.cerificates_wrapper > div > button {
  position: absolute;
  bottom: -20px;
  right: 0;
}
