* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
