.menu {
  margin: 40px 0;
  height: auto;
  background-color: #e4ebf9;
  padding: 30px 0;
}

.container {
  width: 1390px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
  flex-wrap: wrap;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 30px 0;
}

.text {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.68px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0540f2;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
}

.underline {
  border-bottom: 3px #0540f2 solid;
  font-weight: 700;
}

@media (max-width: 1439px) {
  .container {
    width: 1180px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 727px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 440px;
  }
}

@media (max-width: 479px) {
  .container {
    width: 300px;
  }
}
