.menu {
  margin: 40px 0;
  height: auto;
  background-color: #e4ebf9;
  padding: 30px 0;
}

.container {
  width: 1390px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
  flex-wrap: wrap;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  margin: 30px 0;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 1180px;
  margin: 75px 0;
}

.inner {
  display: flex;
}

.gor {
  width: 100%;
}

.vert {
  height: 100%;
}

.right {
  color: #000;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 40px;
  border: none;
  background: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.left {
  color: #000;
  position: absolute;
  left: 25px;
  top: 50%;
  font-size: 40px;
  border: none;
  background: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.gallery_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.68px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-decoration: none;
  color: #000000;
  white-space: pre-wrap;
}

.link_news {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.68px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
  text-decoration: none;
  color: #0540f2;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.68px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;
}

.title {
  font-family: Jost;
  font-size: 34px;
  font-weight: 700;
  line-height: 34.68px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;
}

.descr {
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 34.68px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.button {
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.9px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0540f2;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
}

.underline {
  border-bottom: 3px #0540f2 solid;
  font-weight: 700;
}

.scroller {
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
  height: 670px;
  margin: 40px 0;
}

.scroller > img {
  width: 100%;
}

.iframe {
  height: 650px;
  width: 100%;
}

@media (max-width: 1439px) {
  .container {
    width: 1180px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 727px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 440px;
  }
}

@media (max-width: 479px) {
  .container {
    width: 300px;
  }
}
